$text-color: hsl(0, 0%, 92.5%);
$text-color-muted: hsl(0, 0%, 80%);
$text-color-dark: hsl(0, 0%, 65%);
$background-color: hsl(240, 30%, 15%);
$background-color-light: hsl(240, 20%, 22.5%);
$background-color-lighter: hsl(240, 15%, 30%);
$background-color-dark: hsl(240, 30%, 12.5%);
$background-color-darker: hsl(240, 30%, 10%);
$border-color: hsl(220, 15%, 45%);
$accent-color: hsl(46, 98%, 66%);

$error-color: hsl(0, 70%, 60%);
