<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>ZeldaSpeedRuns - Organizations</title>
</head>
<body>
<div>
    <ul sec:authorize="hasRole('ADMIN')">
        <li><a th:href="${#mvc.url('OC#createOrganizationForm').build()}">Create Organization</a></li>
    </ul>

    <h1>Organizations</h1>

    <ul>
        <li th:each="o : ${organizations}">
            <a th:href="${#mvc.url('OC#getOrganization').arg(0, o.slug).build()}"
               th:text="${o.name}">
                Organization Name
            </a>
        </li>
    </ul>
</div>
</body>
</html>
