@import "../abstracts";

.button {
  border: none;
  border-radius: 0.2rem;
  box-sizing: border-box;
  padding: 0.65rem 1.5rem;
  cursor: pointer;

  font-family: $font-stack;
  font-size: 1.1em;
  font-weight: 800;
  color: $background-color;
  background-color: $accent-color;

  &--max {
    width: 100%;
  }
}

