@import "../abstracts";

.menu-item {
  display: grid;
  align-items: center;
  gap: 0.3rem;
  grid-template-columns: 1.5rem auto;

  &__icon {
    width: 100%;
    text-align: center;
    color: $accent-color;
  }

  &__label {
    color: $text-color;
    &--noicon {
      grid-column: 2 / -1;
    }
  }
}