<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{ucp.account-details.title}">Account Management</title>
</head>
<body>
<main layout:fragment="content" class="container cp-container">
    <nav th:replace="ucp/ucp_sidebar::nav">
    </nav>

    <section layout:fragment="body" class="cp-content">
    </section>
</main>
</body>
</html>
