<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="cp-sidebar" th:fragment="nav"
     aria-label="Organization Management Navigation">
    <div class="cp-sidebar__category">General</div>
    <a th:href="@{/user/account}" class="cp-sidebar__item menu-item">
        <span class="fa-solid fa-pen-to-square menu-item__icon"></span>
        <span class="menu-item__label">Details</span>
    </a>
    <a th:href="@{/user/account/organizations}" class="cp-sidebar__item menu-item">
        <span class="fa-solid fa-users menu-item__icon"></span>
        <span class="menu-item__label">Organizations</span>
    </a>
    <a th:href="@{/user/account/applications}" class="cp-sidebar__item menu-item">
        <span class="fa-solid fa-passport menu-item__icon"></span>
        <span class="menu-item__label">Applications</span>
    </a>

    <div class="cp-sidebar__category">Developer</div>
    <a th:href="@{/user/account/api-clients}" class="cp-sidebar__item menu-item">
        <span class="fa-solid fa-code menu-item__icon"></span>
        <span class="menu-item__label">API Clients</span>
    </a>
</nav>
</body>
</html>