@import "../abstracts";

.form-error-list {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  color: $error-color;
  font-size: 0.9em;

  &__item {
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;

  &__label {
    font-size: 0.8em;
    font-weight: 500;
  }

  &__error-list {
    font-size: 0.8em;
    font-weight: 600;
    color: $error-color;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.input {
  box-sizing: border-box;
  width: 100%;

  background-color: $background-color-dark;
  border: 1px solid $border-color;
  font-size: 1rem;
  color: $text-color;
  border-radius: 3px;
  padding: 6px 10px;
  transition: border-color 200ms;

  &::placeholder {
    color: $border-color;
    opacity: 1;
  }

  &:hover {
    border-color: lighten($border-color, 50%);
  }

  &:focus {
    border-color: $accent-color;
    outline: none;
    transition: none;
  }

  &--error {
    border-color: $error-color;
  }
}
