<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/auth_layout}">
<head>
    <title th:text="#{user.account-recovery.title}">Account Recovery</title>
</head>
<body>
<div layout:fragment="body" class="auth-wrapper auth-wrapper--wide">
    <div class="auth-dialog">
        <a th:href="@{/}">
            <img src="../../static/logo.svg" alt="ZSR logo" class="auth-logo"
                 th:src="@{/logo.svg}" th:alt="#{zeldaspeedruns.name}"/>
        </a>

        <h1 class="auth-dialog__title"
            th:text="#{user.account-recovery.success.dialog.title}">
            Account Recovery Email Sent
        </h1>

        <p class="auth-dialog__message"
           th:text="#{user.account-recovery.success.dialog.message}">
            Please check your email for instructions on how to proceed.
        </p>

        <div class="form-group auth-form__footer">
            <div><a href="#" th:href="@{/user/login}" th:text="#{user.links.return-to-sign-in}">
                Click here to sign in
            </a></div>
        </div>
    </div>
</div>
</body>
</html>
