<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Recover your ZSR account</title>
</head>
<body>
<main layout:fragment="content">
    <div class="dialog-wrapper">
        <form method="post" th:action="@{/user/recover-account}" th:object="${form}" class="vertical-form">
            <img src="../../static/logo.svg" th:src="@{/logo.svg}" alt="ZSR Logo"
                 class="vertical-form__header-image" width="100" height="100"/>

            <h1 class="vertical-form__header">Recover account</h1>

            <div class="form-field">
                <label for="email-address" class="input__label">Email address</label>
                <input type="email" id="email-address" class="input" autofocus required
                       th:field="*{emailAddress}"/>

                <div th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}">
                    Email address validation error
                </div>
            </div>

            <div class="form-button-group">
                <input type="submit" value="Send recovery email" class="button button--max"/>
            </div>

            <ul class="link-list">
                <li class="link-list__item">Know your credentials?
                    <a th:href="@{/user/login}">Sign in instead.</a></li>
            </ul>
        </form>
    </div>
</main>
</body>
</html>