<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/auth_layout}">
<head>
    <title th:text="#{user.register.title}">Register your ZSR account</title>
</head>
<body>
<form method="post" action="#" class="auth-form" layout:fragment="form"
      th:action="${#mvc.url('ZUC#postRegisterForm').build()}" th:object="${form}">
    <div class="auth-form__header">
        <a th:href="@{/}">
            <img src="../../static/logo.svg" alt="ZSR logo" class="auth-logo"
                 th:src="@{/logo.svg}" th:alt="#{zeldaspeedruns.name}"/>
        </a>

        <h1 class="auth-form__title" th:text="#{user.register.form.title}">
            Register with ZSR
        </h1>
        <p class="auth-form__message" th:text="#{user.register.form.message}">
            Form message
        </p>
    </div>

    <ul class="form-error-list" th:if="${#fields.hasGlobalErrors()}">
        <li th:errors="*"></li>
    </ul>

    <div class="form-group">
        <div class="form-field">
            <label for="username" class="form-field__label"
                   th:text="#{user.register.form.username.label}">
                Username
            </label>
            <input type="text" id="username" class="input" required autofocus
                   placeholder="Username" th:placeholder="#{user.form.username.placeholder}"
                   th:field="*{username}" th:errorclass="input--error"/>

            <ul th:if="${#fields.hasErrors('username')}" class="form-field__error-list">
                <li th:errors="*{username}"></li>
            </ul>
        </div>

        <div class="form-field">
            <label for="email-address" class="form-field__label"
                   th:text="#{user.register.form.email-address.label}">
                Email
            </label>
            <input type="email" id="email-address" class="input" required
                   placeholder="user@example.com" th:placeholder="#{user.form.email-address.placeholder}"
                   th:field="*{emailAddress}" th:errorclass="input--error"/>

            <ul th:if="${#fields.hasErrors('emailAddress')}" class="form-field__error-list">
                <li th:errors="*{emailAddress}"></li>
            </ul>
        </div>

        <div class="form-field">
            <label for="password" class="form-field__label"
                   th:text="#{user.register.form.password.label}">
                Password
            </label>
            <input type="password" id="password" class="input" required
                   placeholder="Password" th:placeholder="#{user.form.password.placeholder}"
                   th:field="*{password}" th:errorclass="input--error"/>

            <ul th:if="${#fields.hasErrors('password')}" class="form-field__error-list">
                <li th:errors="*{password}"></li>
            </ul>
        </div>

        <div class="form-field">
            <label for="password-confirmation" class="form-field__label"
                   th:text="#{user.register.form.password-confirmation.label}">
                Confirm password
            </label>
            <input type="password" id="password-confirmation" class="input" required
                   placeholder="Password" th:placeholder="#{user.form.password.placeholder}"
                   th:field="*{passwordConfirmation}" th:errorclass="input--error"/>

            <ul th:if="${#fields.hasErrors('passwordConfirmation')}" class="form-field__error-list">
                <li th:errors="*{passwordConfirmation}"></li>
            </ul>
        </div>

        <button type="submit" class="button button--max auth-submit"
                th:text="#{user.register.form.submit}">
            Register
        </button>
    </div>

    <div class="horizontal-line auth-form__line"
         th:text="#{user.register.third-party.line-label}">
        Or sign up with
    </div>

    <div class="provider-list">
        <a href="#" th:href="@{/user/login/oauth2/authorization/discord}">
            <div class="provider-icon provider-icon--discord"
                 th:title="#{user.third-party-provider.discord.title}">
                <img src="../../static/images/providers/provider-discord.svg" alt="Discord"
                     class="provider-icon__image"
                     th:alt="#{user.third-party-provider.discord}"
                     th:src="@{/images/providers/provider-discord.svg}"/>
            </div>
        </a>
        <a href="#" th:href="@{/user/login/oauth2/authorization/twitch}">
            <div class="provider-icon provider-icon--twitch"
                 th:title="#{user.third-party-provider.twitch.title}">
                <img src="../../static/images/providers/provider-twitch.svg" alt="Twitch"
                     class="provider-icon__image"
                     th:alt="#{user.third-party-provider.twitch}"
                     th:src="@{/images/providers/provider-twitch.svg}"/>
            </div>
        </a>
    </div>

    <div class="form-group auth-form__footer">
        <div><a href="login_form.html" th:href="@{/user/login}"
                th:text="#{user.register.links.sign-in}">
            I already have an account
        </a></div>
    </div>
</form>
</body>
</html>
