<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Recover your ZSR account</title>
</head>
<body>
<main layout:fragment="content">
    <div class="dialog-wrapper">
        <form method="post" class="vertical-form"
              th:action="${#mvc.url('ZUC#resetPassword').arg(0, token).build()}" th:object="${form}">
            <img src="../../static/logo.svg" th:src="@{/logo.svg}" alt="ZSR Logo"
                 class="vertical-form__header-image" width="100" height="100"/>

            <h1 class="vertical-form__header">Reset password</h1>

            <div class="form-field">
                <label for="password" class="input__label">New password</label>
                <input type="password" id="password" class="input" autofocus required
                       th:field="*{password}"/>

                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    Password validation error
                </div>
            </div>

            <div class="form-field">
                <label for="password-confirmation" class="input__label">Confirm new password</label>
                <input type="password" id="password-confirmation" class="input" required
                       th:field="*{passwordConfirmation}"/>

                <div th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}">
                    Password confirmation validation error
                </div>
            </div>

            <div class="form-button-group">
                <input type="submit" value="Reset password" class="button button--max"/>
            </div>
        </form>
    </div>
</main>
</body>
</html>