<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>ZeldaSpeedRuns</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link th:href="@{/assets/fontawesome/css/all.css}" rel="stylesheet">

    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<header class="header" layout:fragment="header">
    <nav role="navigation" class="navigation-menu">
        <div class="navigation-menu__item">
            <a th:href="@{/}">
                <img th:src="@{/logo.svg}" alt="ZSR" class="zsr-logo"/>
            </a>
        </div>
    </nav>

    <div class="spacer"></div>

    <nav aria-label="User Menu" class="dropdown" sec:authorize="isAuthenticated()">
        <button type="button" class="dropdown__button user-menu__button"
                aria-expanded="false" aria-controls="user-menu">
            <a sec:authentication="name">Username</a>
            <span class="fa-solid fa-caret-down user-menu__caret"></span>
        </button>
        <ul class="dropdown__menu dropdown__menu--left user-menu" id="user-menu">
            <li class="user-menu__item">
                <a th:href="@{/user/account}">
                    <span class="fa-solid fa-user-gear user-menu__icon"></span>
                    <span class="user-menu__label">Account settings</span>
                </a>
            </li>
            <li class="user-menu__item">
                <a th:href="@{/user/logout}">
                    <span class="fa-solid fa-arrow-right-from-bracket user-menu__icon"></span>
                    <span class="user-menu__label">Sign out</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="authentication-status" sec:authorize="!isAuthenticated()">
        <a th:href="@{/user/login}">
            <div class="button button--primary">Sign in</div>
        </a>
    </div>
</header>

<main layout:fragment="content"></main>

<footer class="footer" layout:fragment="footer">
    <div class="footer__copyright">
        &copy; <span th:text="${#dates.year(#dates.createNow())}">2022</span>
        ZeldaSpeedRuns, All Rights Reserved
    </div>
</footer>
</body>
</html>
