.v-flex {
  display: flex;
  flex-direction: column;

  &--center {
    align-items: center;
  }
}

.margin-y-sm {
  margin: 20px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}